* {
  padding: 0;
  margin: 0;
}

.frame {
  width: 800px;
  height: 672px;
  position: relative;
  --animation: 1.4s ease infinite;

  /* margin-top: 32px; */
}

.frame *,
.frame *::before,
.frame *::after {
  position: absolute;
  content: "";
}

/* Шаблон */

/* .frame *,
.frame *::before,
.frame *::after {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 0px 0px 0px 0px;
  transform-origin: center;
  transform: rotate(0deg);
} */

/* Шаблон */

.floor {
  top: auto;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #edfafd;
}

/* Body -start- */

.humanoid {
  top: 132px;
  left: 443px;
  width: 131px;
  height: 214px;
  transform-origin: bottom center;
  transform: rotate(10deg);
  animation: humanoid var(--animation);
}

.humanoid::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, #c4f1f5, #a1c0c3);
  border-radius: 60px 79px 68px 70px / 35px 90px 134px 163px;
}

/* .humanoid::after {
  top: -98px;
  left: 0;
  width: 100%;
  height: 70%;
  background: #fff;
  border-radius: 74% 5% 50% 29% / 106% 43% 28% 0%;
  transform: rotate(279deg);
} */

/* Body -end- */

/* Hand left -start- */

.humanoid__shoulder_left {
  top: 27px;
  left: 19px;
  width: 12px;
  height: 135px;
  background: #6f7173;
  border-radius: 99em;
  transform-origin: top center;
  transform: rotate(50deg);
  animation: humanoidShoulderLeft var(--animation);
}

.humanoid__shoulder_left::before {
  top: 27px;
  left: -16px;
  width: 42px;
  height: 84px;
  border-radius: 10px 37px 36px 18px;
  background: linear-gradient(to left bottom, #dbf4fc, #becee3);
}

.humanoid__shoulder_left::after {
  top: -18px;
  left: -13px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform-origin: 20px 20px;
  background: radial-gradient(#ebf4fb 43%, #626465 43%, #626465 53%, transparent 0%), radial-gradient(#ebf4fb 70%, transparent 0%);
}

.humanoid__arm_left {
  top: 124px;
  left: 0px;
  width: 12px;
  height: 124px;
  background: #6f7173;
  border-radius: 99em;
  transform-origin: 6px 6px;
  transform: rotate(-107deg);
  animation: humanoidArmLeft var(--animation);
}

.humanoid__arm_left::before {
  top: 24px;
  left: -11px;
  width: 36px;
  height: 79px;
  border-radius: 10px 22px 27px 11px;
  background: radial-gradient(circle at 27% 81%, #fff 6%, transparent 0%), radial-gradient(circle at 28% 67%, #fff 5%, transparent 0%), linear-gradient(to left top, #dbf4fc, #becee3);
}

.humanoid__arm_left::after {
  top: -6px;
  left: -6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform-origin: 20px 20px;
  background: radial-gradient(#ebf4fb 42%, #626465 42%, #626465 53%, transparent 0%), radial-gradient(#ebf4fb 100%, transparent 0%);
}

.humanoid__wrist_left {
  top: 107px;
  left: -11px;
  width: 36px;
  height: 35px;
  clip-path: polygon(60% 0, 71% -4%, 93% 24%, 103% 57%, 84% 93%, 55% 102%, 20% 96%, 2% 78%, 9% 21%, 21% 11%);
  background: linear-gradient(to left top, #c0e9fa, #b7dde7);
}

/* Hand left -end- */

/* Hand right -start- */

.humanoid__shoulder_right {
  top: 27px;
  left: 19px;
  width: 12px;
  height: 135px;
  background: #6f7173;
  border-radius: 99em;
  transform-origin: top center;
  transform: rotate(-59deg);
  z-index: -1;
  animation: humanoidShoulderRight var(--animation);
}

.humanoid__shoulder_right::before {
  top: 27px;
  left: -16px;
  width: 42px;
  height: 84px;
  border-radius: 10px 37px 36px 18px;
  background: linear-gradient(to left bottom, #dbf4fc, #becee3);
}

.humanoid__shoulder_right::after {
  top: -18px;
  left: -13px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform-origin: 20px 20px;
  background: radial-gradient(#ebf4fb 43%, #626465 43%, #626465 53%, transparent 0%), radial-gradient(#ebf4fb 70%, transparent 0%);
}

.humanoid__arm_right {
  top: 124px;
  left: 0px;
  width: 12px;
  height: 124px;
  background: #6f7173;
  border-radius: 99em;
  transform-origin: 6px 6px;
  transform: rotate(-109deg);
  animation: humanoidArmRight var(--animation);
}

.humanoid__arm_right::before {
  top: 24px;
  left: -11px;
  width: 36px;
  height: 79px;
  border-radius: 10px 22px 27px 11px;
  background: linear-gradient(to left top, #dbf4fc, #becee3);
}

.humanoid__arm_right::after {
  top: -6px;
  left: -6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform-origin: 20px 20px;
  background: radial-gradient(#ebf4fb 42%, #626465 42%, #626465 53%, transparent 0%), radial-gradient(#ebf4fb 100%, transparent 0%);
}

.humanoid__wrist_right {
  top: 107px;
  left: -11px;
  width: 36px;
  height: 35px;
  clip-path: polygon(60% 0, 71% -4%, 93% 24%, 103% 57%, 84% 93%, 55% 102%, 20% 96%, 2% 78%, 9% 21%, 21% 11%);
  background: linear-gradient(to left top, #c0e9fa, #b7dde7);
}

/* Hand right -end- */

/* Leg left -start-  */

.humanoid__leg_left {
  top: 179px;
  left: 54px;
  width: 20px;
  height: 210px;
  background: #5f6061;
  border-radius: 99em;
  transform-origin: 10px 10px;
  transform: rotate(33deg);
  z-index: -2;
  animation: humanoidLegLeft var(--animation);
}

.humanoid__leg_left::before {
  top: 47px;
  left: -26px;
  width: 68px;
  height: 128px;
  border-radius: 21px 33px 12px 25px / 15px 31px 12px 53px;
  transform: rotate(2deg);
  background: linear-gradient(to bottom left, #bde6f4, #a2c1c4);
}

.humanoid__leg_left::after {
  top: 183px;
  left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transform-origin: 20px 20px;
  background: radial-gradient(#ebf4fb 37%, #626465 37%, #626465 47%, transparent 0%), radial-gradient(#ebf4fb 100%, transparent 0%);
}

.humanoid__shin_left {
  top: 191px;
  left: 0;
  width: 18px;
  height: 189px;
  background: #5f6061;
  border-radius: 99em;
  transform-origin: 10px 10px;
  transform: rotate(38deg);
  animation: humanoidShinLeft var(--animation);
}

.humanoid__shin_left::before {
  top: 33px;
  left: -13px;
  width: 51px;
  height: 122px;
  border-radius: 27px 17px 27px 29px / 27px 27px 129px;
  background: radial-gradient(9% 111%, #fff 15%, transparent 0%), linear-gradient(to left top, #a3c2c5, #bfe7f5);
}

.humanoid__foot_left {
  top: 173px;
  left: -1px;
  width: 61px;
  height: 24px;
  border-radius: 49% 59% 32% 44%;
  background: radial-gradient(circle at 11% 56%, #fff 6%, transparent 0%), radial-gradient(circle at 84% 58%, #fff 15%, transparent 0%), linear-gradient(to left top, #dbf4fc, #becee3);
  transform-origin: left center;
  transform: rotate(-4deg);
  animation: humanoidFootLeft var(--animation);
}

.humanoid__foot_left::after {
  top: 3px;
  left: 41px;
  width: 40px;
  height: 21px;
  border-radius: 35% 100% 35% 24% / 62% 95% 13% 75%;
  background: radial-gradient(circle at 34% 51%, #fff 38%, transparent 0%), linear-gradient(to left top, #c6d8ea, #d4ebf6);
  transform-origin: 10px 10px;
  transform: rotate(0deg );
  animation: humanoidToeLeft var(--animation);
}

/* Leg left -end-  */

/* Leg right -start-  */

.humanoid__leg_right {
  top: 179px;
  left: 54px;
  width: 20px;
  height: 210px;
  background: #5f6061;
  border-radius: 99em;
  transform-origin: 10px 10px;
  transform: rotate(-78deg);
  z-index: -1;
  animation: humanoidLegRight var(--animation);
}

.humanoid__leg_right::before {
  top: 47px;
  left: -26px;
  width: 68px;
  height: 128px;
  border-radius: 21px 33px 12px 25px / 15px 31px 12px 53px;
  transform: rotate(2deg);
  background: radial-gradient(farthest-side at 58% 80%, #fff 6%, transparent 0%), radial-gradient(closest-side at 75% 79%, #fff 18%, transparent 0%), radial-gradient(closest-side at 75% 63%, #fff 18%, transparent 0%), linear-gradient(to bottom left, #bde6f4, #a2c1c4);
}

.humanoid__leg_right::after {
  top: 183px;
  left: -7px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transform-origin: 20px 20px;
  background: radial-gradient(#ebf4fb 37%, #626465 37%, #626465 47%, transparent 0%), radial-gradient(#ebf4fb 100%, transparent 0%);
}

.humanoid__shin_right {
  top: 191px;
  left: 0;
  width: 18px;
  height: 189px;
  background: #5f6061;
  border-radius: 99em;
  transform-origin: 10px 10px;
  transform: rotate(39deg);
  animation: humanoidShinRight var(--animation);
}

.humanoid__shin_right::before {
  top: 33px;
  left: -13px;
  width: 51px;
  height: 122px;
  border-radius: 27px 17px 27px 29px / 27px 27px 129px;
  background: radial-gradient(circle at 67% 14%, #fff 6%, transparent 0%), radial-gradient(circle at 65% 30%, #fff 5%, transparent 0%), linear-gradient(to left top, #a3c2c5, #bfe7f5);
}

.humanoid__foot_right {
  top: 174px;
  left: -1px;
  width: 61px;
  height: 24px;
  border-radius: 49% 59% 32% 44%;
  background: radial-gradient(circle at 11% 56%, #fff 6%, transparent 0%), radial-gradient(circle at 84% 58%, #fff 15%, transparent 0%), linear-gradient(to left top, #dbf4fc, #becee3);
  transform-origin: left center;
  transform: rotate(-4deg);
  animation: humanoidFootRight var(--animation);
}

.humanoid__foot_right::after {
  top: 3px;
  left: 41px;
  width: 40px;
  height: 21px;
  border-radius: 35% 100% 35% 24% / 62% 95% 13% 75%;
  background: radial-gradient(circle at 34% 51%, #fff 38%, transparent 0%), linear-gradient(to left top, #c6d8ea, #d4ebf6);
  transform-origin: 10px 10px;
  transform: rotate(0deg );
  animation: humanoidToeRight var(--animation);
}

/* Leg right -end-  */

/* Head -start- */

.humanoid__head {
  top: -81px;
  left: 14px;
  width: 90px;
  height: 125px;
  transform-origin: bottom left;
  transform: rotate(6deg );
  animation: humanoidHead var(--animation);
}

.humanoid__head::before {
  top: 56px;
  left: 14px;
  width: 58px;
  height: 67px;
  background: #696b6d;
  clip-path: polygon(14% 0, 75% 7%, 70% 40%, 74% 67%, 88% 94%, 62% 82%, 35% 64%, 15% 50%, 17% 48%, 20% 23%);
  transform-origin: bottom left;
  transform: rotate(-3deg);
  z-index: 1;
}

.humanoid__helmet {
  top: 3px;
  left: 2px;
  width: 78px;
  height: 64px;
  background: linear-gradient(to bottom right, #bed8e5, #c2dbe9);
  border-radius: 50% 50% 45% 50% / 60% 63% 40% 40%;
  transform-origin: center;
  transform: rotate(7deg);
  z-index: 1;
  animation: humanoidHelmet var(--animation);
}

.humanoid__helmet::before {
  top: 30px;
  left: 43px;
  width: 47px;
  height: 39px;
  background: linear-gradient(to bottom right, #bed8e5, #c2dbe9);
  border-radius: 3px 9px 23px 18px;
  transform: rotate(64deg);
}

.humanoid__visor {
  top: 15px;
  left: 20px;
  width: 39px;
  height: 39px;
}

.humanoid__visor::before {
  top: -9px;
  left: 34.56px;
  width: 13px;
  height: 20px;
  background: #eb8e99;
  border-radius: 5px 0px 0px 0px;
  transform-origin: bottom left;
  transform: rotate(73deg);
  z-index: 1;
  animation: humanoidVisorSight var(--animation);
}

.humanoid__visor::after {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 39px;
  background: radial-gradient(circle at 50% 50%, #f8e2e5 21%, transparent 0%), radial-gradient(circle at 50% 50%, #faeced 40%, transparent 0%), linear-gradient(to left top, #fcf7f8, #fcf8fa);
  border-radius: 50%;
  z-index: 1;
  animation: humanoidVisorCircle var(--animation);
}

/* Head -end- */